body{
    margin:0;
    padding:0;
    width:100%;
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: dodgerblue;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#fff;
}